.progress-bar-purple {
    background-color: purple !important;
}
.progress-bar-blue {
    background-color: blue !important;
}
.progress-bar-green {
    background-color: green !important;
}
.progress-bar-yellow {
    background-color: yellow !important;
}
.progress-bar-other {
    background-color: gray !important;
}